extends base

mixin userRow(id, name, email, gender, status)
    tr.user--row(data-userId=id)
        td.id--td #{id}
        td.name--td #{name} 
        td.email--td #{email}
        td.gender--td #{gender}
        td.status--td #{status}
        td.action--td
            a#edit--btn(href='/updateUser')
                i.fa.fa-pencil.fa-lg
            a#delete--btn(href='#')
                i.fa.fa-times.fa-lg

block append head 
    title #{title}
    link(rel="stylesheet", href="/stylesheets/users.css")

block content
    .container
        a#new--user(href='/newUser') New User
            i.fa.fa-user.fa-lg
        table#users--table 
            tr.heads--row
                th#id--th ID
                th#name--th Name 
                th#email--th @Email
                th#gender--th Gender 
                th#status--th Status 
                th#action--th Action
            +userRow(1, 'Ashok Talwar', 'ashok_talwar@hagenes.co', 'Male', 'Active')
            +userRow(2, 'Trunk Koshmarov', 'trunkk@gmail.com', 'Male', 'Inactive')